scv-mini.aux
scv-mini.idx
scv-mini.ilg
scv-mini.ind
scv-mini.log
scv-mini.out
scv-mini.pdf
scv-mini.toc
scv-mini.ist
scv-mini.nlg
scv-mini.not
scv-mini.ntn
scv-mini.synctex.gz
scv-mini.fls
scv-mini.fdb_latexmk
